.header{
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    color: white;
    align-items:center;
    justify-content: space-between;
    padding: 8px;
}

.one{
    background-color: #1F2937;
}

.logo{
    margin: 12px;
}

.item{
    width: 10px;
    margin: 12px;
}

.left, .right {
    display: flex;
    align-items: center;
    gap: 16px;
  }