h1 {
    color:rgb(255, 126, 126);
    font-family:'Louis George Café';
    font-size: 80px;
}
img{
    width: 300px;
    height: 300px;
}
.upper{
    background-color:rgb(143, 0, 0);
}
a{
    color:black;
    text-decoration-line: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.down_layer{
    background-color:rgb(143, 0, 0);
    background-position-y: 2rem;
}